
.tips {
    width: 180px;
    height: auto;
    border: 1px solid #000;
    background-color: #eaeaea;
    /* position: absolute; */
    margin: 200px auto;
    z-index: 100;
}

.tips span {
    text-align: center;
    margin: 20px auto;
    display: block;
    font-size: 18px;
}

.tips button {
    display: block;
    margin: 10px auto;
}

.mask {
    z-index: 10000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}